---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import { getElectricians } from '../lib/pocketbase';
import CompanyCard from '@components/CompanyCard.astro';

const q = Astro.url.searchParams.get('q') ?? '';

const pageStr = Astro.url.searchParams.get('page');
let page = pageStr ? parseInt(pageStr, 10) : 1;
if (isNaN(page)) {
  page = 1; // Ensure page is a number
}

const is_search = Astro.request.headers.get('HX-Trigger') === 'search';

const electricians1 = await getElectricians({ q, page });
---

{
  is_search && (
    <>
      <ul class='grid gap-6 sm:grid-cols-2'>
        {electricians1?.map((n) => (
          <CompanyCard company={n} />
        ))}
      </ul>
      {electricians1?.length == 50 && (
        <div
          hx-get={`/?page=${page + 1}`}
          hx-trigger='revealed'
          hx-target='#electrician-results'
          hx-select='#electrician-results'
          hx-swap='beforeend'
          hx-swap-oob='true'
        />
      )}
    </>
  )
}

{
  !is_search && (
    <Layout title='Electricians in Phoenix'>
      <main>
        <Hero />
        <input
          class='mt-4 w-full bg-blue-600 border-blue-300 outline-1 rounded-md p-2.5 placeholder-slate-300'
          name='q'
          id='search'
          value={q}
          hx-get='/'
          hx-trigger='keyup delay:200ms, search'
          hx-target='#electrician-results'
          type='search'
          placeholder='Search by zip, city, rating...'
        />

        <div
          id='electrician-results'
          class='py-10 mx-auto text-white max-w-7xl space-y-6'
        >
          <ul class='grid gap-6 sm:grid-cols-2'>
            {electricians1?.map((n) => (
              // <a
              //   href={n.href}
              //   class='block max-w p-6 my-8 border border-blue-300 rounded-lg shadow hover:bg-blue-600'
              // >
              //   <h2 class='text-xl'>
              //     {n.companyName}
              //     <span>&rarr;</span>
              //   </h2>
              //   <p>{n.body}</p>
              //   <p>
              //     Average Rating: {n.rating}
              //     <span> &#x2B50;s</span>
              //   </p>
              //   <p>{electricians1.length}</p>
              // </a>
              <CompanyCard company={n} />
            ))}
          </ul>
          {electricians1?.length == 50 && (
            <div
              hx-get={`/?page=${page + 1}`}
              hx-trigger='revealed'
              hx-target='#electrician-results'
              hx-select='#electrician-results'
              hx-swap='beforeend'
              hx-swap-oob='true'
            />
          )}
        </div>
      </main>
    </Layout>
  )
}
